@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background: fuchsia;
    margin: 0px
}

.mainTitle{
    background: chartreuse;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
}

.welcomeDiv{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-bottom: 30px;
}

.buttonDiv{
    text-align: center;
}

.buttonDiv :nth-child(1){
    margin-right: 20px;
}

button{
    background: coral;
    border-color: coral;
    border-style: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding: 10px;
}

.aboutDiv{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 75px;
}

.aboutParagraph{
    font-size: 15px;
    line-height: 1.5;
}

.deployedDiv{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 75px;
}

@media (max-width:700px){
    .mainTitle{
        font-size: 40px;
    }

    .welcomeDiv{
        font-size: 16px;
        line-height: 1.5;
    }

    button{
        font-size: 10px;
        margin-top: 25px;
    }

    .aboutHeaderOne{
        font-size: 16px;
    }

    .aboutHeaderTwo{
        font-size: 16px;
    }

    .aboutParagraph{
        font-size: 8px;
        margin-left: 15px;
        margin-right: 15px
    }

    .deployedDiv{
        font-size: 8px;
    }
}